$cyanPrimary: hsl(176, 50%, 47%);
$cyanPrimaryRadio: hsl(176, 50%, 77%);
$darkCyanPrimary: hsl(176, 72%, 28%);

$blackNeutral: hsl(0, 0%, 0%);
$darkGrayNeutral: hsl(0, 0%, 48%);
$darkGrayNeutralButton: hsl(0, 0%, 89%);
$darkGrayNeutralBg: hsl(0, 0%, 92%);