.donation-section {
  position: absolute;

  left: -200%;

  

  width: 100%;
  height: 300vh;

  background-color: rgba(black, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .5s;

  .background-modal {
    width: 700px;
    height: 900px;

    position: absolute;
    top: 180px;

    background-color: white;

    border-radius: 25px;

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .top-pleadge {
      .title-pleadge {
        display: flex;
        justify-content: space-between;

        margin-bottom: 24px;

        button {
          border: none;
          outline: none;
          background: none;

          position: relative;
          top: -20px;
          right: -15px;

          width: 20px;
          height: 20px;

          cursor: pointer;
        }
      }
      p {
        color: $darkGrayNeutral;
        margin-bottom: 24px;
      }
    }

    .pledge-noreward {
      width: 100%;
      height: 136px;

      display: flex;
      align-items: baseline;

      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 16px;

      padding: 24px;

      .about-donation {
        margin-left: 40px;

        p {
          font-size: 16;
          font-weight: bold;
          margin-bottom: 16px;
        }

        span {
          color: $darkGrayNeutral;
        }
      }
    }

    .card {
      width: 100%;
      height: 136px;
      min-height: 136px;

      
      padding: 24px;

      display: flex;
      align-items: baseline;
      flex-direction: column;

      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 16px;

      margin-top: 24px;

      .disable {
        opacity: .5;
        
      }

      .about-donation-card {
        margin-left: 40px;

        div {
          display: flex;
          justify-content: space-between;
          :first-child{
            font-weight: bold;
            span {
              font-weight: bold;

              color: $cyanPrimary;
              margin-left: 8px;
            }
          }

          :last-child {
            font-weight: bold;
            span{
              font-weight: 300;
              font-size: 14px;

              color: $darkGrayNeutral;  

              margin-left: 8px;
            }
          }
        }

        .about-text {
          margin: 24px 0;
          color: $darkGrayNeutral;

         
        }

      }

      hr {
        margin-left: -25px;
        display: none;
      }

      .entrie-donation {
        display: none;
        position: relative;
        top: -100px;



        width: 100%;
        
       

        
        align-items: center;
        justify-content: space-between;

        transition: all 1s;

        .btn-donation {



          input[type='text'] {
            width: 100px;
            height: 50px;

            border-style: none;
            
            outline: none;
            border-radius: 30px;

            border: 1px solid $darkGrayNeutral;
            
            padding: 16px;
            
            transition: all 0.5s;
            
            &:focus {
              border: 1.8px solid $darkCyanPrimary;
              
            }
            
          }
          button {
            width: 100px;
            height: 50px;

            border-style: none;
            
            outline: none;
            border-radius: 30px;

            background-color: $darkCyanPrimary;
            color: white;
            font-weight: 700;

            &:hover {
              cursor: pointer;
            }
          }
        }

      }
     
    }

  }
}
