.donation-section {
  position: absolute;

  width: 100%;
  height: 290vh;

  background-color: rgba(black, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .background-modal {
    width: 700px;
    height: 1000px;

    position: absolute;
    top: 180px;

    background-color: white;

    border-radius: 25px;

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .top-pleadge {
      
      .title-pleadge {
        
        display: flex;
        justify-content: space-between;

        margin-bottom: 24px;

        button {
          border: none;
          outline: none;
          background: none;

          position: relative;
          top: -20px;
          right: -15px;
        }
      }
      p {
        color: $darkGrayNeutral;
        margin-bottom: 24px;
      }

    }

    .pledge-noreward {
      width: 100%;
      height: 136px;

      display: flex;
      justify-content: center;
      align-items: baseline;

      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 16px;

      padding: 24px;

      input {
        margin-right: 24px;
      }

      p {
        font-size: 16;
        font-weight: bold;
        margin-bottom: 16px;
      }

      span {
        color: $darkGrayNeutral;
      }
    }
    
  }

}