@import './colors';

.section-container {
  width: 700px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  margin-top: 15%;

  background-color: white;


  border-radius: 15px;

  .title {
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1 {
      margin-bottom: 16px;
      font-weight: 700;
    }
    
    p {
      color: $darkGrayNeutral;
      font-weight: 500;
    }

    .btn-title {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      margin-top: 40px;

      & button {
        width: 160px;
        height: 48px;

        border: none;
        border-radius: 25px;

        outline: none;

        color: white;
        background-color: $cyanPrimary;
        font-weight: 700;
      }

      .bookmark {
        img {
          position: absolute;
          height: 48px;
          
        }

        button {
          background-color: $darkGrayNeutralButton;
          color: $darkGrayNeutral;
          text-align: end;
          padding-right: 24px;
        }
      }
    }
  }
}