* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { width: 100%; height: 100%; font-family: Commissioner; font-size: 16px; background-color: #ebebeb; }

.menu-container { width: 100%; height: 75px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 40px; }

.menu-container img { height: 30px; }

.menu-container ul li { list-style: none; }

.menu-container ul li a { text-decoration: none; color: white; }

.menu-container ul li a:hover { text-decoration: underline; }

.menu-container .menu { width: 30%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.menu-container .button-menu { display: none; }

.menu-container .button-menu input { display: none; }

.menu-container .button-menu label[for="bt-menu"] { padding: 5px; cursor: pointer; text-align: center; font-size: 30px; }

@media (max-width: 920px) { .menu-container .menu { width: 75%; display: block; background: white; position: absolute; top: 100px; left: -102.5%; text-align: center; border-radius: 15px; -webkit-transition: all .5s; transition: all .5s; }
  .menu-container .menu .menu-itens { height: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid black; }
  .menu-container .menu .menu-itens:hover { cursor: pointer; background-color: #eee; }
  .menu-container .menu .menu-itens:hover:first-child { background-color: #eee; border-top-left-radius: 15px; border-top-right-radius: 15px; }
  .menu-container .menu .menu-itens:hover:last-child { border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
  .menu-container .menu .menu-itens a { margin-left: 40px; color: black; }
  .menu-container .button-menu { display: block; } }

.layout { width: 80%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.container { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: url(../images/image-hero-desktop.jpg) top center no-repeat; background-size: 100%; }

.background-menu-mobile { position: absolute; width: 100%; height: 100%; background: rgba(51, 51, 51, 0.274); left: -100.5%; -webkit-transition: all .5s; transition: all .5s; display: -webkit-box; display: -ms-flexbox; display: flex; }

.background-menu-mobile .close-menu { height: 60px; width: 60px; position: absolute; left: 80%; top: 40px; background-color: transparent; outline: none; border: none; }

.background-menu-mobile .close-menu img { height: 30px; width: 30px; }

.background-menu-mobile .close-menu img:hover { cursor: pointer; }

.section-container { width: 700px; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 10px; margin-top: 15%; }

.section-container .title { width: 100%; height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 15px; background-color: white; }

.section-container .title h1 { margin-bottom: 16px; font-weight: 700; }

.section-container .title p { color: #7a7a7a; font-weight: 500; }

.section-container .title .btn-title { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 40px; }

.section-container .title .btn-title button { width: 160px; height: 48px; border: none; border-radius: 25px; outline: none; color: white; background-color: #3cb4ac; font-weight: 700; }

.section-container .title .btn-title button:hover { background-color: #147b74; cursor: pointer; }

.section-container .title .btn-title .bookmark .btn-response { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 56px; height: 50px; border-radius: 50%; display: none; }

.section-container .title .btn-title .bookmark .btn-response:hover { color: #3cb4ac; }

.section-container .title .btn-title .bookmark .btn-response:hover circle { fill: #3cb4ac; }

.section-container .title .btn-title .bookmark .btn-response:hover path { fill: white; }

.section-container .title .btn-title .bookmark .btn-book { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #e3e3e3; color: #7a7a7a; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-right: 24px; }

.section-container .title .btn-title .bookmark .btn-book:hover { color: #3cb4ac; }

.section-container .title .btn-title .bookmark .btn-book:hover circle { fill: #3cb4ac; }

.section-container .title .btn-title .bookmark .btn-book:hover path { fill: white; }

.progress-bar { width: 100%; height: 200px; background-color: white; margin-top: 40px; border-radius: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.progress-bar .backed-container { width: 100%; height: 150px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.progress-bar .backed-container .backed { width: 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-left: 54px; }

.progress-bar .backed-container .backed p { font-size: 32px; font-weight: 700; }

.progress-bar .backed-container .backed span { color: #7a7a7a; font-weight: 400; }

.progress-bar .backed-container .total-backers { width: 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-left: 1px solid #7a7a7a; border-right: 1px solid #7a7a7a; }

.progress-bar .backed-container .total-backers p { font-size: 32px; font-weight: 700; }

.progress-bar .backed-container .total-backers span { color: #7a7a7a; font-weight: 400; }

.progress-bar .backed-container .days-left { width: 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.progress-bar .backed-container .days-left p { font-size: 32px; font-weight: 700; }

.progress-bar .backed-container .days-left span { color: #7a7a7a; font-weight: 400; }

.progress-bar .bar { width: 80%; background-color: #ebebeb; border-radius: 13px; }

.progress-bar .bar div { background-color: #3cb4ac; width: 80%; height: 8px; border-radius: 10px; }

.about { width: 100%; height: 1400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 40px; background-color: white; border-radius: 16px; padding: 32px; margin-bottom: 20px; }

.about .margin { margin-top: 40px; }

.about h2 { width: 100%; margin: 32px 0; }

.about p { margin: 16px 0; text-align: justify; color: #7a7a7a; margin-bottom: 32px; line-height: 25px; }

.about .card-stand { width: 98%; border: 1px solid #e3e3e3; border-radius: 16px; padding: 16px; }

.about .card-stand .top-card-about { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.about .card-stand .top-card-about p { color: black; font-weight: 700; font-size: 24px; }

.about .card-stand .top-card-about span { font-weight: 500; color: #3cb4ac; }

.about .card-stand p { color: #7a7a7a; font-size: 16px; }

.about .card-stand .bottom-card-about { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.about .card-stand .bottom-card-about p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 24px; font-weight: 700; color: black; }

.about .card-stand .bottom-card-about p span { font-size: 12px; color: #7a7a7a; font-weight: 400; margin-left: 10px; }

.about .card-stand .bottom-card-about button { width: 150px; height: 40px; border: none; border-radius: 16px; background-color: #3cb4ac; font-weight: 700; outline: none; }

.about .card-stand .bottom-card-about button a { color: white; padding: 14px 19px; text-decoration: none; }

.about .card-stand .bottom-card-about button:hover { background-color: #147b74; cursor: pointer; }

.about .disable .top-card-about p { color: #7a7a7a; }

.about .disable .top-card-about span { opacity: 0.5; }

.about .disable .bottom-card-about p { color: #7a7a7a; }

.about .disable .bottom-card-about button { background-color: #7a7a7a; }

.about .disable .bottom-card-about button:hover { cursor: auto; background-color: #7a7a7a; }

@media (max-width: 740px) { .container .layout .section-container { width: 350px; }
  .container .layout .section-container .title { text-align: center; }
  .container .layout .section-container .title h1 { width: 250px; }
  .container .layout .section-container .title .btn-title .bookmark .btn-response { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .container .layout .section-container .title .btn-title .bookmark .btn-book { display: none; }
  .container .layout .section-container .progress-bar { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 400px; }
  .container .layout .section-container .progress-bar .backed-container { height: 80%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 16px; }
  .container .layout .section-container .progress-bar .backed-container .backed { text-align: center; width: 150px; margin: 0; }
  .container .layout .section-container .progress-bar .backed-container .total-backers { width: 150px; height: 150px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: none; border-top: 1px solid #7a7a7a; border-bottom: 1px solid #7a7a7a; }
  .container .layout .section-container .progress-bar .backed-container .days-left { width: 150px; text-align: center; }
  .container .layout .section-container .about { height: auto; }
  .container .layout .section-container .about .card-stand .top-card-about { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .layout .section-container .about .card-stand .bottom-card-about { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .layout .donation-section { height: 510vh; }
  .container .layout .donation-section .background-modal { width: 350px; height: auto; }
  .container .layout .donation-section .background-modal .pledge-noreward { height: 300px; }
  .container .layout .donation-section .background-modal .card { height: 300px; min-height: 300px; }
  .container .layout .donation-section .background-modal .card .entrie-donation { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .container .layout .donation-section .background-modal .card .entrie-donation .about-donation-card { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .layout .donation-section .background-modal .card .entrie-donation .btn-donation { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 10px; }
  .container .layout .donation-section .background-modal .card .entrie-donation .btn-donation input { width: 80px; margin-right: 24px; }
  .container .layout .background-sucess { position: fixed; } }

.donation-section { position: absolute; left: -200%; width: 100%; height: 300vh; background-color: rgba(0, 0, 0, 0.5); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: all .5s; transition: all .5s; }

.donation-section .background-modal { width: 700px; height: 900px; position: absolute; top: 180px; background-color: white; border-radius: 25px; padding: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.donation-section .background-modal .top-pleadge .title-pleadge { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 24px; }

.donation-section .background-modal .top-pleadge .title-pleadge button { border: none; outline: none; background: none; position: relative; top: -20px; right: -15px; width: 20px; height: 20px; cursor: pointer; }

.donation-section .background-modal .top-pleadge p { color: #7a7a7a; margin-bottom: 24px; }

.donation-section .background-modal .pledge-noreward { width: 100%; height: 136px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 16px; padding: 24px; }

.donation-section .background-modal .pledge-noreward .about-donation { margin-left: 40px; }

.donation-section .background-modal .pledge-noreward .about-donation p { font-size: 16; font-weight: bold; margin-bottom: 16px; }

.donation-section .background-modal .pledge-noreward .about-donation span { color: #7a7a7a; }

.donation-section .background-modal .card { width: 100%; height: 136px; padding: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 16px; margin-top: 24px; }

.donation-section .background-modal .card .disable { opacity: .5; }

.donation-section .background-modal .card .about-donation-card { margin-left: 40px; }

.donation-section .background-modal .card .about-donation-card div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.donation-section .background-modal .card .about-donation-card div :first-child { font-weight: bold; }

.donation-section .background-modal .card .about-donation-card div :first-child span { font-weight: bold; color: #3cb4ac; margin-left: 8px; }

.donation-section .background-modal .card .about-donation-card div :last-child { font-weight: bold; }

.donation-section .background-modal .card .about-donation-card div :last-child span { font-weight: 300; font-size: 14px; color: #7a7a7a; margin-left: 8px; }

.donation-section .background-modal .card .about-donation-card .about-text { margin: 24px 0; color: #7a7a7a; }

.donation-section .background-modal .card hr { margin-left: -25px; display: none; }

.donation-section .background-modal .card .entrie-donation { display: none; position: relative; top: -100px; width: 100%; margin-top: 40px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-transition: all 1s; transition: all 1s; }

.donation-section .background-modal .card .entrie-donation .btn-donation input[type='text'] { width: 100px; height: 50px; border-style: none; outline: none; border-radius: 30px; border: 1px solid #7a7a7a; padding: 16px; -webkit-transition: all 0.5s; transition: all 0.5s; }

.donation-section .background-modal .card .entrie-donation .btn-donation input[type='text']:focus { border: 1.8px solid #147b74; }

.donation-section .background-modal .card .entrie-donation .btn-donation button { width: 100px; height: 50px; border-style: none; outline: none; border-radius: 30px; background-color: #147b74; color: white; font-weight: 700; }

.donation-section .background-modal .card .entrie-donation .btn-donation button:hover { cursor: pointer; }

input[type='radio'] { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: absolute; outline: none; }

input[type='radio']::before { position: absolute; content: ""; width: 20px; height: 20px; border: 1px solid #e3e3e3; border-radius: 50%; }

input[type='radio']:checked::after { content: ""; position: absolute; width: 10px; height: 10px; border: 1px solid #e3e3e3; border-radius: 50%; background-color: #3cb4ac; left: 5px; top: 5px; -webkit-box-shadow: 0px 0px 2px #3cb4ac; box-shadow: 0px 0px 2px #3cb4ac; }

.background-sucess { position: absolute; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: rgba(0, 0, 0, 0.4); left: -100%; }

.background-sucess .sucess { width: 400px; height: 300px; padding: 10px 0; background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; text-align: justify; border-radius: 16px; }

.background-sucess .sucess p { width: 330px; font-size: 14px; color: #7a7a7a; }

.background-sucess .sucess button { width: 100px; height: 40px; border-radius: 16px; outline: none; border: none; background-color: #147b74; color: white; font-weight: 700; }

.background-sucess .sucess button:hover { cursor: pointer; }
/*# sourceMappingURL=main.css.map */